{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.tsx", "*.jsx"],
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
